:root {
    //colors
    // --dark: #282629;
    // --bright: #7effc7;
    // --blue: #5BBFEA;
    // --white: #ffffff;
    --dark: rgba(25, 5, 52, 1);
    --bright: #FF0FA7;
    --blue: #5BBFEA;
    --white: #ffffff;
}