input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea {
    color: var(--dark);
    border: 1px solid var(--dark);
    border-radius: 8px;
    padding: 16px;
    width: 100%;

    &:focus {
        outline: 2px solid var(--bright);
        border: none;
    }
}

label {
    background-color: white;
    position: relative;
    top: 10px;
    left: 10px;
    padding: 5px;
    font-size: 14px;
    color: var(--dark);
}

.gform_footer {
    margin-top: 20px;
}