.typed-cursor {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bright);
    color: var(--bright);
    border-radius: 5px;
    max-width: 2px;
    overflow: hidden;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-left: 3px;
}


@media screen and (min-width:768px) {
    .typed-cursor {}

}